
<section id="{{ section.id }}-lightbox">
  <div class="lightbox-item">
    
  </div>
</section>

{% schema %}
  {
    "name": "Image LightBox",
    "settings": [],
    "blocks": [
    {
      "type": "images",
      "name": "Lightbox Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        }
      ]
    }
  ],
  }
{% endschema %}



<script type="module"> import lightgallery from https://cdn.jsdelivr.net/npm/lightgallery@2.8.2/+esm </script>
