<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0687/6404/1385/files/lightbox.css?v=1735639351">
<section id="{{ section.id }}-lightbox">
  <div class="lightbox-item">
    {% for block in section.blocks %}
    <a href="{{ block.settings.image | image_url: width: 300, height: 200 }}" data-lightbox="data-set-images" data-title="data_set_images">
             <img src="{{ block.settings.image | image_url: width: 300, height: 200 }}">
    </a>


    {% endfor %}

    {% for block in section.blocks %}
      <h3>Selected Product Image</h3>
             <img src="{{ block.settings.product | image_url: width: 300, height: 200 }}">

    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Image LightBox",
    "settings": [
    ],
    "blocks": [
    {
      "type": "images",
      "name": "Lightbox Images",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  }
{% endschema %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://cdn.shopify.com/s/files/1/0687/6404/1385/files/lightbox.js?v=1735639351"></script>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
</script>